// src/styles/main.scss

// 1. Reset e Regole Globali
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
  min-height: 100vh;
}


@use './ricarica';